/*  Option A, B, C, D  */
QPushButton#option{
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#option:hover{
    background-color: #6161ff;
    color: white;
}

/*  Question title only  */
QLabel#questionTitle{
    border: 1px solid #333333;
    border-radius: 2px;
}