/*  Option A, B, C, D: Regular, unselected  */
QPushButton#option{
    background-color: #f0f0f0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}

/*  Option: Correct  */
QPushButton#option[choice="correct"]{
    background-color: chartreuse;
}

QPushButton#save{
    border: 1px solid black;
    border-radius: 5px;
}

QPushButton#save:hover{
    background-color: lightgray;
}

/*  Question title only  */
QLabel#questionTitle{
    border: 1px solid #333333;
    border-radius: 2px;
}